
// .App {
//   /* background-image: url("./images/image1.png"), url("./images/image2.png"), url("./images/image3.png"); */
// }

.AppLanding{
  text-align: left;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  justify-content: center;
  // gap: 30px;
  font-size: calc(50px + 2vmin);
  color: #fff;
  padding: 0 10vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/image1.png");

  .LandingContent{
    display: flex;
    flex-direction: column;
    gap: 30px;

  }
  .ButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  .WhoAreWeButtonContainer{
    position: relative;
    width:100%;
    height: 100%;
    // margin: 5vh;
    button{
      // display: block;
      // margin: auto 0 0 auto;
      float: right;
      // margin-left: auto;
      // margin-right: 0;
      // position: absolute;
      // bottom: 0;
      // right: 0;
      // margin: 30px 40px;
      // margin: auto;
    }
  }
}


button{
  padding: 10px 24px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;

  &.Primary {
    background: #BA1F34;
    border: 1px solid #BA1F34;
    &:hover{
      border: 1px solid #fff;
    }
  }
  &.Secondary {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    &:hover {
      background: rgba(255, 255, 255, 0.30);

    }
  }
}

p{
  margin: 0;
}