
.App {
  /* background-image: url("./images/image1.png"), url("./images/image2.png"), url("./images/image3.png"); */
  color: #fff;
}
html {
  scroll-behavior: smooth;
}

h1, h2, h3 {
  font-family: 'Jomolhari';
  font-style: normal;
  font-weight: 400;
  margin: 20px 0;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}
h1{
  font-size: calc(50px + 2vmin);
  line-height: 15vmin;
}
h2{
  font-size: calc(30px + 2vmin);
  line-height: 12vmin;
}

.FullScreenBackground{
  min-height: 100vh;
  // gap: 30px;
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .ButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

a.Button{
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  margin: 30px 0;
  padding: 10px 24px;

  color: #fff;
  font-size: 24px;
  font-family: 'Jomolhari';
  text-align: center;
  text-decoration: none;

  &.Primary {
    background: #BA1F34;
    border: 1px solid #BA1F34;
    &:hover{
      border: 1px solid #fff;
    }
  }
  &.Secondary {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    &:hover {
      background: rgba(255, 255, 255, 0.30);

    }
  }
}

p{
  margin: 0;
}

.right{
  justify-content: right;
}
.left{
  justify-content: left;
}