
.App {
  /* background-image: url("./images/image1.png"), url("./images/image2.png"), url("./images/image3.png"); */
  color: #fff;
}

h1, h2, h3 {
  font-family: 'Jomolhari';
  font-style: normal;
  font-weight: 400;
  margin: 0;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.35);
}
h1{
  font-size: calc(50px + 2vmin);
  line-height: 15vmin;
}
h2{
  font-size: calc(30px + 2vmin);
  line-height: 12vmin;
}

.FullScreenBackground{
  height: 100vh;
  gap: 30px;
  padding: 0 10vw;

  .ButtonContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
}

.AppLandingTop{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/steak_on_ice.png");

  .WhoAreWeButtonContainer{
    position: relative;
    width:100%;
    button{
      // display: block;
      // margin: auto 0 0 auto;
      float: right;
      // margin-left: auto;
      // margin-right: 0;
      // position: absolute;
      // bottom: 0;
      // right: 0;
    }
  }
}
.AppLandingMiddle{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/old_farm.png");
  text-align: right;
  // TODO: align the button container right

  ul {
      font-family: 'Open Sans', sans-serif;
      list-style: outside;
      list-style-image: linear-gradient(to left bottom, #D94C5F, #D94C5F);
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 30px;
      direction: rtl;
      li{
        margin: 5px 0;
      }
    }
}

button{
  padding: 10px 24px;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  box-sizing: border-box;
  background: transparent;
  &:hover {
    text-decoration: underline;
  }

  &.Primary {
    background: #BA1F34;
    border: 1px solid #BA1F34;
    &:hover{
      border: 1px solid #fff;
    }
  }
  &.Secondary {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid #fff;
    &:hover {
      background: rgba(255, 255, 255, 0.30);

    }
  }
}

p{
  margin: 0;
}

.right{
  justify-content: right;
}
.left{
  justify-content: left;
}